h1{
    color: blue;
}
header{
    display: flex;
    justify-content: space-around;
}
ul{
    display:flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    list-style: none;
}

.first-part{
    display: flex;
    justify-content: space-around;
}

.second-part h2 {
    text-align: center;
    padding-bottom: 30px;
}

.carousel {
    display: flex;
    text-align: center;
    justify-content: space-around;
}