*{
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 20px; */
    padding: 10px;
    background-color: #1F2937;
    color: whitesmoke;
    
}

a{
    text-decoration: none;
    color: whitesmoke;
    
}

ul{
    display:flex;
    margin: 0;
    padding: 0;
    gap: 8px;
    list-style: none;
}

.first-part{
    display: flex;
    justify-content: space-around;
    /* max-width: 500px; */
    margin: 0 auto;
    padding: 0 90px;
}

.back-blue{
    background-color: #1F2937;
    padding: 20px;
}

.left-section{
    color: whitesmoke;
    max-width: 300px;
}

.right-section{
    border: 1px solid red;
    width: 200px;
    margin-left: 20px;

}

.second-part h2 {
    text-align: center;

    /* padding-bottom: 30px; */
    padding: 20px;
    /* margin: 0 auto; */

}

.second-part{
    background-color: aquamarine;
    padding: 20px;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    padding: 5px;
}

.carousel {
    display: flex;
    text-align: center;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 40px;
    
}

footer{
    text-align: center;
    color: whitesmoke;
    background:#1F2937;
    padding: 2px;
}

.third-part{
    max-width: 500px;
    margin: 0 auto;

}
.back-grey{
    background: #E5E7EB;
    padding: 20px;
}

span{
    display:flex;
    justify-content: flex-end;
}

.box{
    border: 1px solid navy;
    width:100px;
    height: 100px;
    border-radius: 15px;
}

.container{
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
    background-color: blue;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
    color: whitesmoke;
}

.fourth-part {
    padding: 40px;
}

.third-part p{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

button{
    height: 30px;
    width: 100px;
}


